@import url('./normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1em = 10px */
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

h1 {
    font-size: 2.8em;
}

h2 {
    font-size: 2.2em; 
}

h3 {
    font-size: 1.8em;
}

p, li {
    font-size: 1.6em;
    color: #333;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.header {
    background-color: #f9f9f9; 
    border-bottom: 1px solid #ddd;
    width: 100%; 
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    margin: 0 auto;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.navbar {
    position: relative;
}

.menu {
    list-style: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff; 
    display: none;
    width: 200px;
    padding: 1rem;
    margin: 0;
    gap: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu li a {
    text-decoration: none;
    color: #333;
}

.menu li a:hover {
    text-decoration: underline;
}

.menu.show {
    display: flex;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: #333;
    transition: background-color 0.3s;
}

.menu-toggle:hover span {
    background-color: #979595;
}

main {
    padding: 2rem 0;
    text-align: center;
}
#search {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.6rem;
}

.courseList {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.columns {
    display: flex;
    gap: 2rem;
    flex-direction: column; 
    justify-content: space-between;
}

.column {
    flex: 1;
    padding: 10px;
    text-align: left;
}

.column h3 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1rem;
    cursor: pointer;
}

#codeColumn, #nameColumn, #progressionColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    font-size: 1.6rem;
    color: #333;
    padding: 10px 0;
}

/**** DESKTOP ****/
@media (min-width: 769px) {
    .container {
        max-width: 75%;
    }

    .header-inner {
        padding: 2rem 0;
    }

    .menu {
        flex-direction: row;
        position: static;
        display: flex;
        padding: 0;
        background-color: transparent;
        box-shadow: none;
    }
    .menu li {
        margin-bottom: 0;
    }
    .menu li a.active {
        text-decoration: underline;
    }
    
    .menu-toggle {
        display: none;
    }

    .columns {
        flex-direction: row; 
    }

    .column {
        margin-bottom: 0; 
    }

    #search {
        width: 100%;
        margin-bottom: 1rem;
    }
}